<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">INFORMACION DEL PAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm">
  
    <ion-item>
      <ion-label>Nombre Vendedor :</ion-label>
      <ion-input type="text"   name="nombre"  [(ngModel)]="insertar.nombre" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefono :</ion-label>
      <ion-input type="number"  name="telefono"  [(ngModel)]="insertar.telefono" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-input type="text"   name="correo"  [(ngModel)]="insertar.correo" required ></ion-input>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-input type="text" name="detalle"  [(ngModel)]="insertar.detalle" required ></ion-input>

        <ion-card-header>
          Card Header
        </ion-card-header>
      
        <ion-card-content>
          <!-- Add card content here! -->
        </ion-card-content>
      
      </ion-card>
    </ion-item>
    
    
    
    
    <ion-button expand="block" color="success"[disabled]="formulario.invalid" (click)="guardar(insertar.nombre,insertar.telefono,insertar.correo,insertar.detalle)"  >Guardar</ion-button>
  </form>
  </ion-content>