<ion-header>
 
</ion-header>

<ion-content>
  <ion-content>
    <div class="vertical-center">
      <div class="center">
        <ion-img src="assets/icon/stvkinc.png"  class="ion-align-self-end"></ion-img>
      </div>   
    </div>
  
  <app-auth-form #loginForm (formSubmitted)="loginUser($event)" [actionButtonText]="'Entrar'"></app-auth-form>
 
 
  <ion-button expand="block" fill="clear" routerLink="/signup" >
    Crea una cuenta
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/reset-password" >
    Recuperar contraseña
  </ion-button>

 
</ion-content>
